rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{path=**}/public/{doc} {
    	allow read: if true;
  	}
    
    match /users/{userID}/public/{doc} {    
      allow read: if request.auth != null;
      
      allow create: if request.auth != null 
      							&& request.auth.uid == userID 
                    && request.resource.data.keys().hasOnly(
                    	['username', 
                      'profile_photo']
                    );
                    
      allow update: if request.auth != null 
      							&& request.auth.uid == userID 
                    && (request.resource.data.diff(resource.data).affectedKeys()
                    		.hasOnly(
                          ['username',
                          'profile_photo']
                    		));
                    
      allow delete: if false;
    }
    
    match /users/{userID}/private/{doc} {
      allow read: if request.auth != null
      						&& request.auth.uid == userID;
      
      allow create: if request.auth != null 
      							&& request.auth.uid == userID 
                    && request.resource.data.keys().hasOnly(
                    	['email', 
                      'first_name', 
                      'last_name', 
                      'phone_number', 
                      'language', 
                      'created_at']
                    );
                    
      allow update: if request.auth != null 
      							&& request.auth.uid == userID 
                   	&& (request.resource.data.diff(resource.data).affectedKeys()
                    		.hasOnly(
                          ['first_name', 
                          'last_name', 
                          'phone_number', 
                          'language']
                    		));
                    
      allow delete: if false;
    }
    
    match /reports/{reportID} {
    	allow read: if request.auth != null 
      						&& request.auth.uid == resource.data.ownerUid;
      
      allow create: if request.auth != null 
      						 	&& request.auth.uid == request.resource.data.ownerUid
                   	&& request.resource.data.keys().hasOnly(
                  		['ownerUid', 
                      'type', 
                      'title', 
                      'description', 
                      'images', 
                      'location', 
                      'address', 
                      'status', 
                      'createdAt', 
                      'updatedAt', 
                      'expiresAt']
                   	);
                    
      allow update: if false;
      
      allow delete: if request.auth != null 
      							&& request.auth.uid == resource.data.ownerUid;
    }
  }
}