<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743280664993-v0homrd3r6bbou5ds1hvqg9v7iuj7fdp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743280664993-v0homrd3r6bbou5ds1hvqg9v7iuj7fdp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>743280664993-p1fbvnoqlo3037q6e89fsmrfvb5m400f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3Z3HLf4qNogkiFk4rOX51nrceaw_e27c</string>
	<key>GCM_SENDER_ID</key>
	<string>743280664993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gp.wujed</string>
	<key>PROJECT_ID</key>
	<string>wujed-ffc1f</string>
	<key>STORAGE_BUCKET</key>
	<string>wujed-ffc1f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743280664993:ios:6c648ac035711eb7a52be0</string>
</dict>
</plist>